/*全てに適用*/
body {
    height: 1000px;
}

* {
    padding: 0;
    margin: 0;
}

/*ヘッダー*/
header {
    background-color: aqua;
    width: 100%;
    height: 10%;
}

 header table {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    background-color: pink;
    border-collapse: collapse;
}

.title {
    text-align: center;
    width: 90%;
}

.school_icon {
    width: 10%;
}

.school_icon img {
    width: fit-content;
    height: 100px;
    margin: 0;
}

/*メイン*/
main {
    background-color: aquamarine;
    width: 100%;
    height: 80%;
}


/*フッター*/
footer {
    background-color: lightsalmon;
    width: 100%;
    height: 10%;
}

.nav {
    
}

.nav ol {
    display: flex;
    margin: auto;
}

.nav li {
    margin: 20px auto;
}


